.site-header {
    gap: 3px;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: left;
    border-radius: 0px !important;
    background: transparent;
    position: fixed;
    z-index: 999;
    border-bottom: 1.5px solid transparent;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}

.site-header.bg,
.site-header:hover {
    border-bottom: 1.5px solid #FFFFFF;
    background: rgba(255, 255, 255, 0.7);
    -webkit-transition: all .5s ease;
    transition: border-bottom .5s ease,all .5s ease;
}

.site-branding {
    border-radius: 0px;
    background: transparent;
    border: 0px;
    height: 100%;
    line-height: 75px;
    backdrop-filter: none;
    box-shadow: none;
}

.site-branding a,
.site-title-logo,
.site-branding img {
    display: flex;
    max-height: 100%;
    border-radius: 0px;
    height: 100%;
    justify-content: center;
    object-fit: contain;
}

.site-branding img{
    max-width: none;
}

.site-title{
    display: flex !important;
}

.site-branding:hover,
.site-title,
.site-title:hover {
    background-color: transparent;
}

.site-title {
    font-size: 38px;
    transition: all 0.4s ease-in-out;
}

.site-title:hover {
    color: var(--theme-skin-matching);
    background-color: transparent;
}

.site-title img {
    margin-top: 17px;
}

.site-header .menu-wrapper,
.menu-wrapper nav.sakura_nav{
    display:flex;
    width: 100%;
}

.menu-wrapper nav.sakura_nav .menu {
    display: flex;
    width: 100%;
    animation: fadeInLeft 1.5s;
}

nav ul,
nav ul li {
    cursor: default;
}

nav ul li {
    padding: 10px 0;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

nav ul li a:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    height: 4px;
    background-color: var(--theme-skin-matching, #505050);
    width: 100%;
    border-radius: 30px;
    max-width: 0;
    transition: max-width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: max-width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

nav ul li>a:hover:after {
    max-width: 100%;
}

nav .menu>li .sub-menu {
    white-space: nowrap;
    top: 110%;
}

.sub-menu li a:hover:after {
    max-width: 0%;
}

nav .menu>li .sub-menu li {
    padding: 10px 0;
}

.searchbox.js-toggle-search i, .bg-switch i{
    padding: 11px 10px;
}

.mo-nav-button i{
    padding: 10px;
}

.searchbox.js-toggle-search i {
    margin: 17px 0;
    border-radius: 10px !important;
    border: 2px solid transparent;
    font-size: 18px;
    font-weight: 900;
}

.bg-switch {
    font-size: 16px;
    width: 50px;
    opacity: 1;
    overflow: hidden;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}

.bg-switch i,
.mo-toc-button i,
.mo-nav-button i{
    border: 2px solid transparent;
    border-radius: 10px !important;
}

.searchbox.js-toggle-search i:hover,
.bg-switch i:hover,
.mo-nav-button i:hover,
.mo-nav-button.open i,
.mo-toc-button i:hover,
.mo-toc-button.open i{
    color: var(--theme-skin-matching);
    border: 2px solid var(--theme-skin-matching);
    background-color: transparent;
}

.bg-switch.hide-state {
    width: 0;
    opacity: 0;
    overflow: hidden;
}

.header-user-avatar img {
    max-width: none;
    box-shadow: none;
}

.header-user-menu {
    right: -11px;
    top: 44px;
    position: absolute;
    width: 110px;
    background: transparent;
    visibility: hidden;
    overflow: hidden;
    box-shadow: none;
    border-radius: 15px;
    text-align: center;
    transition: all 0.5s 0.1s;
    opacity: 0;
    transform: translateY(-20px);
}

/* 移动端样式,不显示部分需在style.css定义 */
.sakura_mo_nav{
    display: flex;
    flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
}

.sakura_mo_nav,
.sakura_mo_nav .sub-menu{
    max-height: 0px;
    overflow: hidden;
    white-space: nowrap;
}

.sakura_mo_nav .menu {
    padding: 0;
    margin: 0;
}

.sakura_mo_nav .menu > li {
    align-items: center;
    padding: 10px;
    margin-right: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    cursor: default;
}

.sakura_mo_nav .menu > li:hover {
    color: var(--theme-skin-matching);
}

.sakura_mo_nav a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
    margin-left: 10px;
}

.sakura_mo_nav .sub-menu {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-left: 16px;
    padding: 0;
    overflow: hidden;
    max-height: 0;
}

.sakura_mo_nav .sub-menu li {
    padding: 10px;
    margin-bottom: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.sakura_mo_nav .sub-menu li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sakura_mo_nav .open_submenu.open {
    display:inline-block;
    transform: rotate(90deg);
    color: var(--theme-skin-matching);
}

body.dark .sakura_mo_nav {
    background: rgba(51,51,51, 0.7);
}
body.dark .sakura_mo_nav .menu > li:hover,
body.dark .sakura_mo_nav .menu > li.hover {
    color: var(--theme-skin-dark);
    background-color: rgba(255, 255, 255, 0.1);
}
body.dark .sakura_mo_nav .menu > li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

body.dark .sakura_mo_nav .sub-menu li:hover,
body.dark .sakura_mo_nav .sub-menu li.hover {
    background-color: rgba(51,51,51, 0.1);
}
body.dark .sakura_mo_nav .sub-menu li {
    border-bottom: 1px solid rgba(51,51,51, 0.1);
}

.mo-toc-button i{
    padding: 11px 13px;
}

.sakura_mo_nav .menu>li{
    padding: 10px;
}

.sakura_mo_nav a {
    margin-left: 10px;
}

.sakura_mo_nav .sub-menu li{
    margin-left: 20px;
    padding: 10px;
}
/* 书签面板样式 */
.mo_toc_panel{
    display: block;
    max-height: 0px;
    position: fixed;
    overflow: hidden;
    top: 60px;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
}

.mo_toc_panel .mo-avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.mo_toc_panel .mo-avatar img,
.mo_toc_panel .mo-avatar i {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.mo_toc_panel .user-menu .user-name,
.mo_toc_panel .mo-user-menu .user-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.mo_toc_panel .user-menu-option {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.mo_toc_panel .user-menu-option a {
    width: 48%;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    transition: color 0.3s, text-shadow 0.3s;
    white-space: nowrap; 
}

.mo_toc_panel .user-menu-option a {
    position: relative;
    text-decoration: none;
    font-size: 1em;
    padding: 10px;
    transition: text-shadow 0.3s, color 0.3s;
    white-space: nowrap;
}

.mo_toc_panel .user-menu-option a::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    bottom: 2px;
    height: 2px;
    background-color: transparent;
    border-radius: 1px;
    transition: width 0.3s ease-out, background-color 0.3s;
    transform: translateX(-50%);
}

.mo_toc_panel .user-menu-option a:hover::after {
    width: 80%; 
    background-color: var(--theme-skin-matching);
}

body.dark .mo_toc_panel .user-menu-option a:hover::after {
    background-color: var(--theme-skin-dark);
}

.mo_toc_panel .user-menu-option a:hover {
    text-shadow: 0 0 8px rgba(var(--theme-skin-matching-rgb), 0.8);
    background-color: transparent;
}

body.dark .mo_toc_panel .user-menu-option a:hover {
    text-shadow: 0 0 8px rgba(var(--theme-skin-dark-rgb), 0.8);
}

.mo_toc_panel .mo-menu-search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.mo_toc_panel .mo-menu-search .search-form {
    width: 100%;
    max-width: 400px;
}
.mo_toc_panel .mo-menu-search .search-input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

@media (max-width: 860px) {
    .nav-search-wrapper,
    .nav-search-divider,
    .searchbox.js-toggle-search,
    .user-menu-wrapper,
    #bg-next.bg-switch,
    .header-user-avatar{
        display: none;
    }

    .site-header {
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
    }

    .site-header.mo-hide{
        transform: translateY(-100%);
    }

    .menu-wrapper{
        display: none!important;
    }

    .site-branding{
        display: flex;
        width: 100%;
        max-width: 100vw!important;
        justify-content: center;
    }

    .mo-search{
        display: flex!important;
    }

    .mo-nav-button,
    .mo-toc-button {
        font-size: 16px;
        width: 50px;
        opacity: 1;
        overflow: hidden;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
    }

    .sakura_nav.sakura_mo_nav.open {
        max-height: 100vh;
    }

    .sakura_mo_nav .sub-menu.open {
        max-height: 50vh;
    }

    .mo_toc_panel.open{
        max-height: 100vh;
    }
}

/* 下面是动画和深色模式 */
body.dark .site-header.bg,
body.dark .site-header:hover {
    background-color: rgba(38, 38, 38, 0.8) !important;
    border-bottom: 1.5px solid #7d7d7d30 !important;
}

body.dark .site-branding {
    background: transparent !important;
    box-shadow: none;
    border: none;
}

body.dark .site-header.bg nav ul li a, 
body.dark .site-header:hover nav ul li a,
body.dark .site-header.bg .searchbox.js-toggle-search i, body.dark .site-header.bg .bg-switch i,
body.dark .site-header:hover .searchbox.js-toggle-search i, body.dark .site-header:hover .bg-switch i{
    color: #CCCCCC !important;
}

body.dark .searchbox.js-toggle-search i:hover, body.dark .bg-switch i:hover,body.dark .mo-toc-button i:hover {
    color: var(--theme-skin-dark);
    border: 2px solid var(--theme-skin-dark);
}

@keyframes fadeInLeft {
    0% {
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }

    50% {
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1;
    }
    }

    @media (max-width: 860px) {
    .site-header {
        height: 60px;
    }
}