.customize-control-kirki-radio {
  label {
    display: list-item;
    margin-bottom: 7px;
  }

  label .option-description {
    display: block;
    color: rgba(0, 0, 0, 0.35);
    font-size: 0.9em;
    padding-left: 25px;
  }
}
