.customize-control-kirki-radio-buttonset {
  .buttonset {
    display: flex;
    flex-wrap: wrap;

    .switch-label {
      background: rgba(0,0,0,.1);
      border: 1px rgba(0,0,0,.1);
      color: #555d66;
      margin: 0;
      text-align: center;
      padding: 0.5em 1em;
      flex-grow: 1;
    }

    .switch-input {
      &:checked {
        + .switch-label {
          background-color: #00a0d2;
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }

  .screen-reader-text:focus {
    clip-path: inset(50%);
    -webkit-clip-path: inset(50%);
  }
}
